<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">San Diego Airplane</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
<!-- 		<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li> -->
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">

	<div class="main">
		<h1>SD Airport Real-time Airplane</h1>
		<p class="lead">by Moojin Chae</p>
		<div class="right"><button id="refresh" type="button" class="btn btn-primary">Refresh</button></div>
		<div id="map"></div>
	</div>

</div>

<script>
	var map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 32.73, lng: -117.19},
			zoom: 11
		});
	}
</script>

<script>
	var markers = [];
	var interval = 5000;
	var image = 'https://cdn4.iconfinder.com/data/icons/48x48-free-object-icons/48/Airplane.png';

	$(document).on("ready page:load", function () {
		ajaxCall();
		setInterval(function() {ajaxCall();}, interval);
	});

	$('#refresh').click(function() {
		ajaxCall();
	});

	function ajaxCall() {
		$.ajax({
			url: "https://api.flightstats.com/flex/flightstatus/rest/v2/jsonp/flightsNear/32.73/-117.19/20?appId=ee3397e9&appKey=fb56756943c52b106500a766ecb430ed&maxFlights=10",
			//url: "http://api.metro.net/agencies/lametro/routes/" + num + "/vehicles/",
			//url: "<%= airplanes_path %>",
			type: 'GET',
			dataType: 'jsonp',
			success: function(res){
				for(i = 0; i<markers.length; i++) {
					markers[i].setMap(null);
				}
				markers = [];

				for (i = 0; i < res.flightPositions.length; i++) {
					var pos = res.flightPositions[i].positions.length-1;
					var marker = new google.maps.Marker({
						position: {lat: res.flightPositions[i].positions[pos].lat,
											 lng: res.flightPositions[i].positions[pos].lon},
						map: map,
						icon: image,
						id: res.flightPositions[i].flightId
					});
					var markerContent = res.flightPositions[i].callsign; //+ ", "
              							//+ "Speed : " + res.flightPositions[i].positions[pos].speedMph + "Mph, "
              							//+ "Altitude : " + res.flightPositions[i].positions[pos].altitudeFt + "ft";

					var infoWindow = new google.maps.InfoWindow();
					infoWindow.setContent(markerContent);
					infoWindow.open(map, marker);
					//marker.set('content', markerContent);
					//google.maps.event.addListener(marker, 'click', function () {
          //    infoWindow.setContent(this.get('content'));
          //    infoWindow.open(map, this);
          //});
					markers.push(marker);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError);
			}
		});
	}
</script>

<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTtLxO68T3Enh5wodnVIy0CcnhVH3fWys
						&libraries=visualization&callback=initMap">
</script>
